.app-header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: .5em;
    width: 100%;
    height: $headerHeight;
    background-color: $appColorDarker;

    .jump-today {
        color: whitesmoke;
        background-color: #333333;
        padding: .3em .5em;
        border-radius: 9%;
    }
}