.app-header {
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background-color: $appColorDarker;

    .logo-container {
        // font-size: 1.25em;
        font-weight: bolder;
        
        a {
            color: black;
        }
    }
    
    .search-bar-container {
        .icon {
            margin-right: .3em;
        }

        input {
            width: 7em;
            height: 1.5em;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            
        }

        input:focus {
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }

        input::placeholder {
            font-size: 1.25em;
            color: $halfTransparent;
            font-weight: bold;
            text-align: center;
        }
    }

    .main-menu-container {
        font-size: 1.25em;
        font-weight: bolder;
    }

    // mobile 
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "mmc sbc lc"
    ;

    .logo-container {
        grid-area: lc;
        padding-right: 1em;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .search-bar-container {
        grid-area: sbc;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-menu-container {
        grid-area: mmc;
        padding-left: 1em;
        display: flex;
        justify-content: start;
        align-items: center;
    }

}

// .app-header {
//     position: fixed;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     background-color: $appColor;
//     height: $headerHeight;
//     border-bottom: 2px solid black;

//     nav ul{
//         display: flex;
//         align-items: center;
//     }
// }