.day-details {
    text-align: center;

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.66);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background-color: #777777;
        width: 90%;
        position: fixed;
        box-shadow: 0px 0px 16px 5px #7c7c7c;

        .close-btn {
            text-align: right;
            margin: .5em;
        }
    }

    .day-name {
        font-size: 1em;
    }

    .moon-icon-modal {
        margin: auto;
        margin-bottom: .5em;
        margin-top: .5em;
        background-color: black;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
    }

    .days-container {
        display: flex;

        .selected-day {
            width: 100%;
            // border-left: 1px solid white;
            // border-right: 1px solid white;

        }

        .day-data-modal {
            padding: .3em;

            * {
                margin-bottom: .25em;
            }

            .date-modal {
                font-weight: 600;
                font-size: 1.5em;
            }

            .illum-modal {
                font-size: 1.5em;
            }

            .moon-icon-modal {
                margin: auto;
                margin-bottom: .5em;
                margin-top: .5em;
                background-color: black;
                width: 4em;
                height: 4em;
                border-radius: 50%;
            }
        }

        .times-modal {

            .first-horiz-cross {
                text-align: left;
            }

            .second-horize-cross {
                text-align: right;
            }
        }

        .moon-bar-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 66%;
            margin-bottom: 1px;

            .moon-hour-modal {
                width: calc(100%/24);
                padding: .25em;
            }

        }

        .hour-bar-modal {
            height: .25em;
            display: flex;

            .hour-hour-modal {
                width: calc(100%/24);
                font-size: .25em;
            }

        }

        .sun-bar-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 66%;
            margin-bottom: 1em;

            .sun-hour-modal {
                width: calc(100%/24);
                padding: .25em;
            }
        }
    }
}


