.moon-cal {
    padding-top: $headerHeight;


    .weekdays {
        width: 100%;
        position: fixed;
        display: flex;


        .day-title {
            width: 100%;
            border: 1px solid black;
            text-align: center;
            background-color: #c5ff9e;
        }
    }

    .cal-body {
        margin-top: 1.1em;

        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .day-preview {
            border: 1px solid #000000;
            font-size: .75em;
            text-align: center;

            .day-data {
                * {
                    margin-bottom: .25em;
                }

                padding: .5em;

                .date {
                    font-weight: 600;
                }

                .moon-icon {
                    margin: auto;
                    margin-bottom: .5em;
                    margin-top: .5em;
                    background-color: black;
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                }
            }

            .sun-bar {
                height: .5em;

                display: grid;
                grid-template-columns: repeat(24, 1fr);

                .sun-hour {
                    background-color: yellow;
                    // border: 1px solid blue;
                    // width: calc(100%/24);
                }
            }
        }
    }
}